@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

.oswald {
    font-family: 'Oswald', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

/**
 *
 * .raleway {
 *  @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
 *  font-family: 'Raleway', sans-serif;
 * }
 *
 * Playfair/Lato
 */


/**
 * default
 */

.hoh {
    transition: opacity .15s ease-in;
}

.hoh:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.fb-100 {
    flex-basis: 100%;
}

/* position absolutely */
.nav {
    position: absolute;
    top: 0px;
    left: 0px;

    min-width: 16em; /* is min-width enough for the content ? */
    width: 80%;
    /* max-width: 80%; */
    height: 100%;
}

.nav-hidden > .nav {
    opacity: 0;
}

.nav-visible > .nav {
    opacity: 1;
}

.content {
    width: 100%;
    transition: transform 225ms cubic-bezier(.4,0,.2,1);
}

.nav-visible > .content {
    transform: translateX(80%);
    transition: transform 225ms cubic-bezier(.4,0,.2,1);
}

.list {
    flex-basis: 100%;
}

/* position absolutely with .detail hidden underneath .list */
.detail {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
}

@media (--breakpoint-not-small) {
    .list-ns {
        flex-basis: 33.3333%;
        min-width: 18em;
        max-width: 22em;
    }

    .detail-ns {
        /* override positioning and make visible */
        position: static;
        opacity: 1;
        z-index: 0;

        /* width, height already set correctly. width needs to be 100% to occupy
         * all the remaining width from .list-ns which has an absolute max-width
         * set */
        width: 100%;
    }
}

@media (--breakpoint-medium) {
}

@media (--breakpoint-large) {
    /* overrides positioning and is always visible */
    .nav-hidden > .nav-l, .nav-visible > .nav-l, .nav-l {
        position: static;
        opacity: 1;
        z-index: 0;

        flex-basis: 16.6667%;
        min-width: 12em;
        max-width: 14em;
    }

    .content-l {
        flex-basis: 83.3333%;
    }
}
